Repository glamod/marine_qc, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, marine_qc, information, license, zenodo, release

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

# label 'ci' all automation-related steps and files
#   Since this repository is in itself an automation process to deploy a server instance,
#   we refer here to CI as the 'meta' configuration files for managing the code and integrations with the repository,
#   not configurations related to the deployment process itself.
#
# idea from https://github.com/Ouranosinc/xclim/blob/main/.github/labeler.yml

'CI':
  - changed-files:
    - any-glob-to-any-file:
      - '.flake8'
      - '.gitignore'
      - '.pre-commit-config.yaml'
      - '.pylintrc.toml'
      - '.readthedocs.yaml'
      - '.yamllint.yaml'
      - '.github/workflows/*'
      - 'docs/Makefile'
      - 'Makefile'

'docs':
  - changed-files:
    - any-glob-to-any-file:
      - '.readthedocs.yml'
      - 'docs/**/*'
      - 'AUTHORS.rst'
      - 'CONTRIBUTING.rst'
      - 'README.rst'
      - 'CHANGES.rst'

'marine_qc':
  - changed-files:
    - any-glob-to-any-file:
      - 'marine_qc/*.py'
      - 'marine_qc/**/*.py'
      - 'marine_qc/**/*.json'

'information':
  - changed-files:
    - any-glob-to-any-file:
      - 'CONTRIBUTING.rst'
      - 'CHANGES.rst'

'license':
  - changed-files:
    - any-glob-to-any-file:
      - 'LICENSE'

'zenodo':
  - changed-files:
    - any-glob-to-any-file:
      - '.zenodo.json'

'release':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'

Update README.rst
  README.rst
Labels: docs

Update LICENSE
  LICENSE
Labels: license

Update AUTHORS.rst
  AUTHORS.rst
Labels: docs

Initial population
  docs/_static/introduction.rst
Labels: docs

Update AUTHORS.rst
  AUTHORS.rst
Labels: docs

writing about individual ob qc
  docs/_static/introduction.rst
  docs/index.rst
  docs/introduction.rst
Labels: docs

writing about running qc checks
  docs/introduction.rst
Labels: docs

track checks
  docs/introduction.rst
Labels: docs

start deck checks
  docs/introduction.rst
Labels: docs

small mod
  docs/introduction.rst
Labels: docs

small mod
  docs/introduction.rst
Labels: docs

buddy checks
  docs/introduction.rst
Labels: docs

fix author list
  AUTHORS.rst
Labels: docs

fix new line
  marine_qc/__init__.py
Labels: marine_qc

add QC functions
  marine_qc/Climatology.py
  marine_qc/astronomical_geometry.py
  marine_qc/auxiliary.py
  marine_qc/buoy_tracking_qc.py
  marine_qc/calculate_humidity.py
  marine_qc/external_clim.py
  marine_qc/location_control.py
  marine_qc/multiple_row_checks.py
  marine_qc/qc_grouped_reports.py
  marine_qc/qc_individual_reports.py
  marine_qc/qc_sequential_reports.py
  marine_qc/spherical_geometry.py
  marine_qc/statistics.py
  marine_qc/time_control.py
  marine_qc/track_check_utils.py
Labels: marine_qc

add tests
  tests/test_astronomical_geometry.py
  tests/test_buddy_check.py
  tests/test_calculate_humidity.py
  tests/test_decorators.py
  tests/test_external_clim.py
  tests/test_location_control.py
  tests/test_multiple_row_check.py
  tests/test_next_level_qc.py
  tests/test_qc_on_db.py
  tests/test_spherical_geometry.py
  tests/test_statistics.py
  tests/test_time_control.py
  tests/test_track_check.py
  tests/test_track_check_qc_functions.py
  tests/test_trackqc.py
Labels: none

add cdm_reader_mapper to requirements
  CI/requirements_ci.txt
  environment.yml
  pyproject.toml
Labels: release

adding xclim and cf_xarray
  CI/requirements_ci.txt
  environment.yml
  pyproject.toml
Labels: release

Update README.rst
  README.rst
Labels: docs

add openssf
  README.rst
Labels: docs

adding FOSSA
  README.rst
Labels: docs

Delete .github/workflows/license-scanning.yml
  .github/workflows/license-scanning.yml
Labels: CI

Delete .github/workflows/license-scanning.yml
  .github/workflows/license-scanning.yml
Labels: CI

pre-commit
  CI/requirements_ci.txt
  tests/test_qc_on_db.py
Labels: none

add pypi warning
  README.rst
Labels: docs

add CODECOV_TOKEN
  .github/workflows/testing-suite.yml
Labels: CI

Update testing-suite.yml
  .github/workflows/testing-suite.yml
Labels: CI

Update CHANGES.rst
  CHANGES.rst
Labels: docs, information

Update CHANGES.rst
  CHANGES.rst
Labels: docs, information

fixing typos
  tests/test_buddy_check.py
  tests/test_qc_on_db.py
  tests/test_statistics.py
  tests/test_trackqc.py
Labels: none

remove unused hooks: pretty_format-json, nb*
  .pre-commit-config.yaml
Labels: CI

fix environment.yml
  environment.yml
Labels: none

replace assert with raise statements
  marine_qc/Climatology.py
  marine_qc/astronomical_geometry.py
  marine_qc/buoy_tracking_qc.py
  marine_qc/external_clim.py
  marine_qc/location_control.py
  marine_qc/qc_grouped_reports.py
  marine_qc/qc_sequential_reports.py
  marine_qc/spherical_geometry.py
  marine_qc/statistics.py
  marine_qc/time_control.py
Labels: marine_qc

remove nbstripout
  .pre-commit-config.yaml
Labels: CI

Update README.rst
  README.rst
Labels: docs

Update AUTHORS.rst
  AUTHORS.rst
Labels: docs

Update marine_qc/qc_grouped_reports.py
  marine_qc/qc_grouped_reports.py
Labels: marine_qc

update CHANGELOG
  CHANGES.rst
Labels: docs, information

astronomical_geometry: adding error raising tests
  tests/test_astronomical_geometry.py
Labels: none
