Repository glamod/marine_qc, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, marine_qc, information, license, zenodo, release, testing suite

chore: accept new Cruft update
  .cruft.json
  .github/labeler.yml.rej
  .github/workflows/bump-version.yml
  .github/workflows/bump-version.yml.rej
  .github/workflows/publish-pypi.yml.rej
  .github/workflows/tag-testpypi.yml
  .github/workflows/tag-testpypi.yml.rej
  .pre-commit-config.yaml
  .pre-commit-config.yaml.rej
  CHANGELOG.rst.rej
  environment-docs.yml.rej
  pyproject.toml.rej
  tox.toml
Labels: CI

chore: reject new Cruft update
  .cruft.json
Labels: none

chore: accept new Cruft update
  .cruft.json
  .github/labeler.yml.rej
  .github/workflows/bump-version.yml
  .github/workflows/bump-version.yml.rej
  .github/workflows/publish-pypi.yml.rej
  .github/workflows/tag-testpypi.yml
  .github/workflows/tag-testpypi.yml.rej
  .pre-commit-config.yaml
  .pre-commit-config.yaml.rej
  CHANGELOG.rst.rej
  CI/requirements_ci.txt.rej
  environment-docs.yml.rej
  pyproject.toml.rej
  tox.toml
Labels: CI

chore: reject new Cruft update
  .cruft.json
Labels: none

chore: reject new Cruft update
  .cruft.json
Labels: none

chore: accept new Cruft update
  .cruft.json
  .github/labeler.yml.rej
  .github/workflows/bump-version.yml
  .github/workflows/bump-version.yml.rej
  .github/workflows/publish-pypi.yml.rej
  .github/workflows/tag-testpypi.yml
  .github/workflows/tag-testpypi.yml.rej
  .pre-commit-config.yaml
  .pre-commit-config.yaml.rej
  CHANGELOG.rst.rej
  CI/requirements_ci.txt.rej
  environment-docs.yml.rej
  pyproject.toml.rej
  tox.toml
Labels: CI

chore: reject new Cruft update
  .cruft.json
Labels: none

chore: accept new Cruft update
  .cruft.json
  .github/labeler.yml.rej
  .github/workflows/bump-version.yml
  .github/workflows/bump-version.yml.rej
  .github/workflows/publish-pypi.yml.rej
  .github/workflows/tag-testpypi.yml
  .github/workflows/tag-testpypi.yml.rej
  .pre-commit-config.yaml
  .pre-commit-config.yaml.rej
  CHANGELOG.rst.rej
  CI/requirements_ci.txt.rej
  environment-docs.yml.rej
  pyproject.toml.rej
  tox.toml
Labels: CI

chore: reject new Cruft update
  .cruft.json
Labels: none

chore: accept new Cruft update
  .cruft.json
  .github/labeler.yml.rej
  .github/workflows/bump-version.yml
  .github/workflows/bump-version.yml.rej
  .github/workflows/publish-pypi.yml.rej
  .github/workflows/tag-testpypi.yml
  .github/workflows/tag-testpypi.yml.rej
  .pre-commit-config.yaml
  .pre-commit-config.yaml.rej
  CHANGELOG.rst.rej
  CI/requirements_ci.txt.rej
  environment-docs.yml.rej
  pyproject.toml.rej
  tox.toml
Labels: CI

Disable scheduled updates in cruft-update.yml
  .github/workflows/cruft-update.yml
Labels: CI

overall: use QC flags from auxiliary
  src/marine_qc/qc_sequential_reports.py
  tests/test_buddy_check.py
  tests/test_flags.py
  tests/test_multiple_checks.py
  tests/test_qc_on_db.py
  tests/test_trackqc.py
Labels: marine_qc, testing suite

enable numpydoc hook
  .pre-commit-config.yaml
Labels: CI

start updating docstsings in numpy-style
  src/marine_qc/buoy_tracking_qc.py
  src/marine_qc/qc_grouped_reports.py
  src/marine_qc/time_control.py
  src/marine_qc/track_check_utils.py
Labels: marine_qc

update docstigns to meet numpydoc
  src/marine_qc/astronomical_geometry.py
  src/marine_qc/auxiliary.py
  src/marine_qc/buoy_tracking_qc.py
  src/marine_qc/calculate_humidity.py
  src/marine_qc/external_clim.py
  src/marine_qc/location_control.py
  src/marine_qc/multiple_checks.py
  src/marine_qc/plot_qc_outcomes.py
  src/marine_qc/qc_individual_reports.py
  src/marine_qc/qc_sequential_reports.py
  src/marine_qc/spherical_geometry.py
  src/marine_qc/statistics.py
Labels: marine_qc

meet all pre-commit hooks
  src/marine_qc/astronomical_geometry.py
  src/marine_qc/auxiliary.py
  src/marine_qc/buoy_tracking_qc.py
  src/marine_qc/calculate_humidity.py
  src/marine_qc/external_clim.py
  src/marine_qc/location_control.py
  src/marine_qc/multiple_checks.py
  src/marine_qc/plot_qc_outcomes.py
  src/marine_qc/qc_individual_reports.py
  src/marine_qc/qc_sequential_reports.py
  src/marine_qc/spherical_geometry.py
  src/marine_qc/statistics.py
  src/marine_qc/time_control.py
  src/marine_qc/track_check_utils.py
Labels: marine_qc

fixing _geod_inv
  src/marine_qc/spherical_geometry.py
Labels: marine_qc

Makefile: enable numpydoc linting
  Makefile
Labels: CI

error on purpose
  src/marine_qc/statistics.py
Labels: marine_qc

undo error
  src/marine_qc/statistics.py
Labels: marine_qc

update CHANGELOG
  CHANGELOG.rst
Labels: docs, information

enable pre-commit mypy hook
  .pre-commit-config.yaml
Labels: CI

exclude tests/ from mypy hook
  .pre-commit-config.yaml
Labels: CI

disable mypy plugins
  pyproject.toml
Labels: release

starting mypy hook issues
  src/marine_qc/astronomical_geometry.py
  src/marine_qc/auxiliary.py
  src/marine_qc/buoy_tracking_qc.py
  src/marine_qc/external_clim.py
  src/marine_qc/location_control.py
  src/marine_qc/multiple_checks.py
  src/marine_qc/plot_qc_outcomes.py
  src/marine_qc/qc_grouped_reports.py
  src/marine_qc/qc_individual_reports.py
  src/marine_qc/qc_sequential_reports.py
  src/marine_qc/spherical_geometry.py
  src/marine_qc/statistics.py
  src/marine_qc/time_control.py
  src/marine_qc/track_check_utils.py
  tests/test_statistics.py
Labels: marine_qc, testing suite

move on
  src/marine_qc/auxiliary.py
  src/marine_qc/buoy_tracking_qc.py
  src/marine_qc/external_clim.py
  src/marine_qc/qc_grouped_reports.py
  src/marine_qc/qc_individual_reports.py
  src/marine_qc/time_control.py
Labels: marine_qc

meet mypy hook
  src/marine_qc/auxiliary.py
  src/marine_qc/buoy_tracking_qc.py
  src/marine_qc/calculate_humidity.py
  src/marine_qc/external_clim.py
  src/marine_qc/location_control.py
  src/marine_qc/qc_individual_reports.py
  src/marine_qc/statistics.py
  src/marine_qc/time_control.py
  src/marine_qc/track_check_utils.py
Labels: marine_qc

meet mypy hook 2
  docs/conf.py
Labels: docs

fixing other pre-commit hooks
  pyproject.toml
  src/marine_qc/auxiliary.py
  src/marine_qc/buoy_tracking_qc.py
  src/marine_qc/external_clim.py
  src/marine_qc/location_control.py
  src/marine_qc/multiple_checks.py
  src/marine_qc/plot_qc_outcomes.py
  src/marine_qc/qc_grouped_reports.py
  src/marine_qc/qc_individual_reports.py
  src/marine_qc/qc_sequential_reports.py
  src/marine_qc/spherical_geometry.py
  src/marine_qc/statistics.py
  src/marine_qc/time_control.py
  src/marine_qc/track_check_utils.py
  tests/test_statistics.py
Labels: marine_qc, release, testing suite

some assertion errors left
  src/marine_qc/auxiliary.py
  src/marine_qc/buoy_tracking_qc.py
  src/marine_qc/time_control.py
  tests/test_time_control.py
Labels: marine_qc, testing suite

use invalid from auxiliaries
  src/marine_qc/buoy_tracking_qc.py
Labels: marine_qc

update CHANGELOG
  CHANGELOG.rst
Labels: docs, information

enable numpy plugin for mypy
  .pre-commit-config.yaml
  pyproject.toml
Labels: CI, release

apply mypy hook with numpy plugins
  .pre-commit-config.yaml
  src/marine_qc/auxiliary.py
  src/marine_qc/buoy_tracking_qc.py
  src/marine_qc/external_clim.py
  src/marine_qc/plot_qc_outcomes.py
  src/marine_qc/qc_grouped_reports.py
  src/marine_qc/qc_individual_reports.py
  src/marine_qc/qc_sequential_reports.py
  src/marine_qc/spherical_geometry.py
  src/marine_qc/statistics.py
  src/marine_qc/time_control.py
  src/marine_qc/track_check_utils.py
  tests/test_individual_report_qc.py
Labels: CI, marine_qc, testing suite

use furo instead of book-theme
  docs/conf.py
  pyproject.toml
Labels: docs, release

add return type
  src/marine_qc/multiple_checks.py
Labels: marine_qc

solve make html warnings
  docs/api/api_buoy.rst
  docs/api/api_ext.rst
  docs/api/api_grp.rst
  docs/hyperlinks.rst
  docs/installation.rst
  docs/introduction.rst
  src/marine_qc/external_clim.py
Labels: docs, marine_qc

set fail_on_warning to true
  .readthedocs.yaml
Labels: CI

delte some commented lines
  docs/conf.py
  pyproject.toml
Labels: docs, release

update CHANGELOG
  CHANGELOG.rst
Labels: docs, information

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

# label 'ci' all automation-related steps and files
#   Since this repository is in itself an automation process to deploy a server instance,
#   we refer here to CI as the 'meta' configuration files for managing the code and integrations with the repository,
#   not configurations related to the deployment process itself.
#
# idea from https://github.com/Ouranosinc/xclim/blob/main/.github/labeler.yml

'CI':
  - changed-files:
    - any-glob-to-any-file:
      - '.editorconfig'
      - '.flake8'
      - '.gitignore'
      - '.pre-commit-config.yaml'
      - '.readthedocs.yaml'
      - '.yamllint.yaml'
      - '.github/workflows/*'
      - 'docs/Makefile'
      - 'tox.ini'
      - 'CI/**/*'
      - 'Makefile'

'docs':
  - changed-files:
    - any-glob-to-any-file:
      - '.readthedocs.yml'
      - 'docs/**/*'
      - 'environment-docs.yml'
      - 'AUTHORS.rst'
      - 'CONTRIBUTING.rst'
      - 'CODE_OF_CONDUCT.md'
      - 'DISCUSSION_TEMPLATE/**/*'
      - 'ISSUE_TEMPLATE/**/*'
      - 'ISSUE_TEMPLATE.md'
      - 'PULL_REQUEST_TEMPLATE.md'
      - 'README.rst'
      - 'CHANGELOG.rst'

'marine_qc':
  - changed-files:
    - any-glob-to-any-file:
      - 'src/marine_qc/*.py'
      - 'src/marine_qc/**/*.py'
      - 'src/marine_qc/**/*.json'

'information':
  - changed-files:
    - any-glob-to-any-file:
      - 'CONTRIBUTING.rst'
      - 'CHANGELOG.rst'

'license':
  - changed-files:
    - any-glob-to-any-file:
      - 'LICENSE'

'zenodo':
  - changed-files:
    - any-glob-to-any-file:
      - '.zenodo.json'

'release':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'

'testing suite':
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - 'tests/*'
