Repository glamod/marine_qc, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, marine_qc, information, license, zenodo, release, testing suite

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

# label 'ci' all automation-related steps and files
#   Since this repository is in itself an automation process to deploy a server instance,
#   we refer here to CI as the 'meta' configuration files for managing the code and integrations with the repository,
#   not configurations related to the deployment process itself.
#
# idea from https://github.com/Ouranosinc/xclim/blob/main/.github/labeler.yml

'CI':
  - changed-files:
    - any-glob-to-any-file:
      - '.editorconfig'
      - '.flake8'
      - '.gitignore'
      - '.pre-commit-config.yaml'
      - '.readthedocs.yaml'
      - '.yamllint.yaml'
      - '.github/workflows/*'
      - 'docs/Makefile'
      - 'tox.ini'
      - 'CI/**/*'
      - 'Makefile'

'docs':
  - changed-files:
    - any-glob-to-any-file:
      - '.readthedocs.yml'
      - 'docs/**/*'
      - 'environment-docs.yml'
      - 'AUTHORS.rst'
      - 'CONTRIBUTING.rst'
      - 'CODE_OF_CONDUCT.md'
      - 'DISCUSSION_TEMPLATE/**/*'
      - 'ISSUE_TEMPLATE/**/*'
      - 'ISSUE_TEMPLATE.md'
      - 'PULL_REQUEST_TEMPLATE.md'
      - 'README.rst'
      - 'CHANGELOG.rst'

'marine_qc':
  - changed-files:
    - any-glob-to-any-file:
      - 'src/marine_qc/*.py'
      - 'src/marine_qc/**/*.py'
      - 'src/marine_qc/**/*.json'

'information':
  - changed-files:
    - any-glob-to-any-file:
      - 'CONTRIBUTING.rst'
      - 'CHANGELOG.rst'

'license':
  - changed-files:
    - any-glob-to-any-file:
      - 'LICENSE'

'zenodo':
  - changed-files:
    - any-glob-to-any-file:
      - '.zenodo.json'

'release':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'

'testing suite':
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - 'tests/*'

Fix filename for version bump in pyproject.toml
  pyproject.toml
Labels: release

Bump version from 0.0.1 to 0.1.0
  src/marine_qc/__init__.py
Labels: marine_qc

Remove version bumping for test_marine_qc.py
  pyproject.toml
Labels: release

Update GitHub token usage in bump-version.yml
  .github/workflows/bump-version.yml
Labels: CI

Disable fail_on_warning in Read the Docs config
  .readthedocs.yaml
Labels: CI

Update GitHub Actions token for version bump
  .github/workflows/bump-version.yml
Labels: CI

Update project status badge to 'Active'
  README.rst
Labels: docs

Update changelog for version 0.1.0 release date
  CHANGELOG.rst
Labels: docs, information

Update contributors in CHANGELOG for version 0.1.0
  CHANGELOG.rst
Labels: docs, information

new version 0.2.0
  .cruft.json
  CHANGELOG.rst
  pyproject.toml
  src/marine_qc/__init__.py
Labels: docs, marine_qc, information, release

Update Zenodo badge link in README
  README.rst
Labels: docs

Update citation link for marine_qc library
  README.rst
Labels: docs

chore: reject new Cruft update
  .cruft.json
Labels: none

chore: reject new Cruft update
  .cruft.json
Labels: none

Add workflows permission to cruft-update.yml
  .github/workflows/cruft-update.yml
Labels: CI

Change authentication token in cruft-update.yml
  .github/workflows/cruft-update.yml
Labels: CI

Update GitHub Actions to use CRUFT_PAT token
  .github/workflows/cruft-update.yml
Labels: CI

Remove workflow_dispatch trigger from cruft-update.yml
  .github/workflows/cruft-update.yml
Labels: CI

chore: reject new Cruft update
  .cruft.json
Labels: none

Add workflow_dispatch trigger to cruft-update.yml
  .github/workflows/cruft-update.yml
Labels: CI

chore: reject new Cruft update
  .cruft.json
Labels: none

chore: accept new Cruft update
  .cruft.json
  .github/labeler.yml.rej
  .github/workflows/bump-version.yml
  .github/workflows/bump-version.yml.rej
  .github/workflows/publish-pypi.yml.rej
  .github/workflows/tag-testpypi.yml
  .github/workflows/tag-testpypi.yml.rej
  .pre-commit-config.yaml
  .pre-commit-config.yaml.rej
  CHANGELOG.rst.rej
  environment-docs.yml.rej
  pyproject.toml.rej
  tox.toml
Labels: CI

Update Python versions in testing suite
  .github/workflows/testing-suite.yml
Labels: CI

chore: reject new Cruft update
  .cruft.json
Labels: none

chore: accept new Cruft update
  .cruft.json
  .github/labeler.yml.rej
  .github/workflows/bump-version.yml
  .github/workflows/bump-version.yml.rej
  .github/workflows/publish-pypi.yml.rej
  .github/workflows/tag-testpypi.yml
  .github/workflows/tag-testpypi.yml.rej
  .pre-commit-config.yaml
  .pre-commit-config.yaml.rej
  CHANGELOG.rst.rej
  environment-docs.yml.rej
  pyproject.toml.rej
  tox.toml
Labels: CI

rename multiple check functions
  src/marine_qc/__init__.py
Labels: marine_qc

add multiple_sequential_check
  src/marine_qc/multiple_checks.py
  tests/test_multiple_checks.py
  tests/test_qc_on_db.py
Labels: marine_qc, testing suite

add multiple_grouped_check
  src/marine_qc/__init__.py
  src/marine_qc/multiple_checks.py
  tests/test_multiple_checks.py
  tests/test_qc_on_db.py
Labels: marine_qc, testing suite

introduce some helper functions
  src/marine_qc/multiple_checks.py
Labels: marine_qc

chore: reject new Cruft update
  .cruft.json
Labels: none

chore: accept new Cruft update
  .cruft.json
  .github/labeler.yml.rej
  .github/workflows/bump-version.yml
  .github/workflows/bump-version.yml.rej
  .github/workflows/publish-pypi.yml.rej
  .github/workflows/tag-testpypi.yml
  .github/workflows/tag-testpypi.yml.rej
  .pre-commit-config.yaml
  .pre-commit-config.yaml.rej
  CHANGELOG.rst.rej
  environment-docs.yml.rej
  pyproject.toml.rej
  tox.toml
Labels: CI

more helpers
  src/marine_qc/multiple_checks.py
Labels: marine_qc

add more docstings
  src/marine_qc/multiple_checks.py
Labels: marine_qc

add more unit tests
  tests/test_multiple_checks.py
Labels: testing suite

import pllotting routines
  src/marine_qc/__init__.py
Labels: marine_qc

update docstings
  src/marine_qc/multiple_checks.py
Labels: marine_qc

update docs
  docs/api.rst
  docs/api/api_hlp.rst
  docs/api/api_main_buoy.rst
  docs/api/api_main_grp.rst
  docs/api/api_main_ind.rst
  docs/api/api_main_plt.rst
  docs/api/api_main_seq.rst
  docs/api/api_seq.rst
  docs/api/api_trk.rst
  docs/bayesian_buddy_check.rst
  docs/buddy_check.rst
  docs/index.rst
  docs/introduction.rst
  docs/overview_buoy_tracking.rst
  docs/overview_grp.rst
  docs/overview_ind.rst
  docs/overview_seq.rst
  docs/theoreticals.rst
  docs/track_check.rst
Labels: docs

delete exit statement
  tests/test_qc_on_db.py
Labels: testing suite

update CHANGELOG
  CHANGELOG.rst
Labels: docs, information

add issue 14 to CHANGELOH
  CHANGELOG.rst
Labels: docs, information
