Repository glamod/marine_qc, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, marine_qc, information, license, zenodo, release, testing suite

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

# label 'ci' all automation-related steps and files
#   Since this repository is in itself an automation process to deploy a server instance,
#   we refer here to CI as the 'meta' configuration files for managing the code and integrations with the repository,
#   not configurations related to the deployment process itself.
#
# idea from https://github.com/Ouranosinc/xclim/blob/main/.github/labeler.yml

'CI':
  - changed-files:
    - any-glob-to-any-file:
      - '.editorconfig'
      - '.flake8'
      - '.gitignore'
      - '.pre-commit-config.yaml'
      - '.readthedocs.yaml'
      - '.yamllint.yaml'
      - '.github/workflows/*'
      - 'docs/Makefile'
      - 'tox.ini'
      - 'CI/**/*'
      - 'Makefile'

'docs':
  - changed-files:
    - any-glob-to-any-file:
      - '.readthedocs.yml'
      - 'docs/**/*'
      - 'environment-docs.yml'
      - 'AUTHORS.rst'
      - 'CONTRIBUTING.rst'
      - 'CODE_OF_CONDUCT.md'
      - 'DISCUSSION_TEMPLATE/**/*'
      - 'ISSUE_TEMPLATE/**/*'
      - 'ISSUE_TEMPLATE.md'
      - 'PULL_REQUEST_TEMPLATE.md'
      - 'README.rst'
      - 'CHANGELOG.rst'

'marine_qc':
  - changed-files:
    - any-glob-to-any-file:
      - 'src/marine_qc/*.py'
      - 'src/marine_qc/**/*.py'
      - 'src/marine_qc/**/*.json'

'information':
  - changed-files:
    - any-glob-to-any-file:
      - 'CONTRIBUTING.rst'
      - 'CHANGELOG.rst'

'license':
  - changed-files:
    - any-glob-to-any-file:
      - 'LICENSE'

'zenodo':
  - changed-files:
    - any-glob-to-any-file:
      - '.zenodo.json'

'release':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'

'testing suite':
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - 'tests/*'

make is_scalar_like more precise
  src/marine_qc/auxiliary.py
  tests/test_auxiliaries.py
  tests/test_decorators.py
  tests/test_individual_report_qc.py
Labels: marine_qc, testing suite

add explicit strononical_geometry functions
  tests/test_astronomical_geometry.py
Labels: testing suite

remove duplicated row
  src/marine_qc/buoy_tracking_qc.py
Labels: marine_qc

cover warnings
  tests/test_trackqc.py
Labels: testing suite

update testing suite
  tests/test_multiple_checks.py
Labels: testing suite

plotting routines now return Figures
  src/marine_qc/plot_qc_outcomes.py
  tests/test_plot_qc_outcomes.py
Labels: marine_qc, testing suite

typo
  src/marine_qc/plot_qc_outcomes.py
Labels: marine_qc

more tests
  tests/test_track_check.py
Labels: testing suite

update CHANGELOG
  CHANGELOG.rst
Labels: docs, information

import functions#
  tests/test_decorators.py
Labels: testing suite

Update CHANGELOG.rst
  CHANGELOG.rst
Labels: docs, information

start adding unit tests
  tests/test_external_clim.py
Labels: testing suite

delete _formt_output and use decorator post_format_return_type
  src/marine_qc/external_clim.py
Labels: marine_qc

increase coverage to 100 percent
  tests/test_external_clim.py
Labels: testing suite

update CHANGELOH
  CHANGELOG.rst
Labels: docs, information

remove _format_output from docs
  docs/api/api_hlp.rst
Labels: docs

Update installation instructions in README
  README.rst
Labels: docs

new version v0.3.0
  .cruft.json
  CHANGELOG.rst
  pyproject.toml
  src/marine_qc/__init__.py
Labels: docs, marine_qc, information, release

Update Python version to 3.13 in workflow
  .github/workflows/publish-pypi.yml
Labels: CI

new version v3.0.1
  .cruft.json
  CHANGELOG.rst
  pyproject.toml
  src/marine_qc/__init__.py
Labels: docs, marine_qc, information, release

Change Zenodo badge to new DOI
  README.rst
Labels: docs
