Repository glamod/marine_qc, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, marine_qc, information, license, zenodo, release, testing suite

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

# label 'ci' all automation-related steps and files
#   Since this repository is in itself an automation process to deploy a server instance,
#   we refer here to CI as the 'meta' configuration files for managing the code and integrations with the repository,
#   not configurations related to the deployment process itself.
#
# idea from https://github.com/Ouranosinc/xclim/blob/main/.github/labeler.yml

'CI':
  - changed-files:
    - any-glob-to-any-file:
      - '.editorconfig'
      - '.flake8'
      - '.gitignore'
      - '.pre-commit-config.yaml'
      - '.readthedocs.yaml'
      - '.yamllint.yaml'
      - '.github/workflows/*'
      - 'docs/Makefile'
      - 'tox.ini'
      - 'CI/**/*'
      - 'Makefile'

'docs':
  - changed-files:
    - any-glob-to-any-file:
      - '.readthedocs.yml'
      - 'docs/**/*'
      - 'environment-docs.yml'
      - 'AUTHORS.rst'
      - 'CONTRIBUTING.rst'
      - 'CODE_OF_CONDUCT.md'
      - 'DISCUSSION_TEMPLATE/**/*'
      - 'ISSUE_TEMPLATE/**/*'
      - 'ISSUE_TEMPLATE.md'
      - 'PULL_REQUEST_TEMPLATE.md'
      - 'README.rst'
      - 'CHANGELOG.rst'

'marine_qc':
  - changed-files:
    - any-glob-to-any-file:
      - 'src/marine_qc/*.py'
      - 'src/marine_qc/**/*.py'
      - 'src/marine_qc/**/*.json'

'information':
  - changed-files:
    - any-glob-to-any-file:
      - 'CONTRIBUTING.rst'
      - 'CHANGELOG.rst'

'license':
  - changed-files:
    - any-glob-to-any-file:
      - 'LICENSE'

'zenodo':
  - changed-files:
    - any-glob-to-any-file:
      - '.zenodo.json'

'release':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'

'testing suite':
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - 'tests/*'

add furo to requirements
  environment-docs.yml
Labels: docs

remove sphinx-book-theme
  docs/conf.py
Labels: docs

load module only once
  docs/api/api_astro.rst
Labels: docs

set apidoc to gitignore list
  .gitignore
Labels: CI

capitalize section
  docs/theoreticals.rst
Labels: docs

use apidoc/modules
  docs/api.rst
  docs/api/api_astro.rst
  docs/index.rst
  docs/track_check.rst
Labels: docs

use automodule, autoclass and autofunction instead of autosummary
  docs/api/api_astro.rst
  docs/api/api_aux.rst
  docs/api/api_buoy.rst
  docs/api/api_dec.rst
  docs/api/api_ext.rst
  docs/api/api_grp.rst
  docs/api/api_hlp.rst
  docs/api/api_hum.rst
  docs/api/api_ind.rst
  docs/api/api_loc.rst
  docs/api/api_main_buoy.rst
  docs/api/api_main_grp.rst
  docs/api/api_main_ind.rst
  docs/api/api_main_plt.rst
  docs/api/api_main_seq.rst
  docs/api/api_seq.rst
  docs/api/api_sph.rst
  docs/api/api_stat.rst
  docs/api/api_tc.rst
  docs/api/api_trk.rst
Labels: docs

add xarray to intersphinx mapping
  docs/conf.py
  src/marine_qc/external_clim.py
Labels: docs, marine_qc

input dictionary validation tests
  src/marine_qc/multiple_checks.py
  tests/test_multiple_checks.py
Labels: marine_qc, testing suite

make tests more explicit
  src/marine_qc/multiple_checks.py
  tests/test_multiple_checks.py
Labels: marine_qc, testing suite

_validate_args: take decorators into account
  src/marine_qc/multiple_checks.py
  tests/test_multiple_checks.py
Labels: marine_qc, testing suite

_validate_args: set args and kwargs explicitly
  src/marine_qc/multiple_checks.py
  tests/test_multiple_checks.py
Labels: marine_qc, testing suite

combine _prepare_preprocessed_vars and _prepare_qc_functions to _prepare_functions
  src/marine_qc/multiple_checks.py
  tests/test_multiple_checks.py
Labels: marine_qc, testing suite

docs: update helper function list
  docs/api/api_hlp.rst
  src/marine_qc/multiple_checks.py
Labels: docs, marine_qc

update CHANGELOG
  CHANGELOG.rst
Labels: docs, information

introduce new TypeAlias
  src/marine_qc/auxiliary.py
  src/marine_qc/external_clim.py
Labels: marine_qc

validate argument types
  src/marine_qc/multiple_checks.py
  src/marine_qc/qc_individual_reports.py
  tests/test_multiple_checks.py
Labels: marine_qc, testing suite

add more type validation tests and outsource validation test to src.marine_qc.validations.py
  src/marine_qc/multiple_checks.py
  src/marine_qc/validations.py
  tests/test_multiple_checks.py
  tests/test_validations.py
Labels: marine_qc, testing suite

update to new cdm_reader_mapper version
  tests/test_qc_on_db.py
Labels: testing suite

reduce complexity
  src/marine_qc/validations.py
Labels: marine_qc

add validation fuunctions to API references
  docs/api.rst
  docs/api/api_hlp.rst
  docs/api/api_val.rst
Labels: docs

gather if-statements
  src/marine_qc/validations.py
Labels: marine_qc

cover missing lines
  src/marine_qc/validations.py
  tests/test_validations.py
Labels: marine_qc, testing suite

new test: do_landlock_check
  src/marine_qc/__init__.py
  src/marine_qc/external_clim.py
  src/marine_qc/qc_individual_reports.py
  tests/test_individual_report_qc.py
Labels: marine_qc, testing suite

implement opposite landlocked check and helper function
  src/marine_qc/__init__.py
  src/marine_qc/qc_individual_reports.py
  tests/test_individual_report_qc.py
Labels: marine_qc, testing suite

_do_daytime_check: claims numpy arrays
  src/marine_qc/qc_individual_reports.py
Labels: marine_qc

inspect_climatology now supports strings and os.PathLike
  src/marine_qc/external_clim.py
  tests/test_individual_report_qc.py
Labels: marine_qc, testing suite

update some docstrings and type hints
  src/marine_qc/external_clim.py
  src/marine_qc/qc_grouped_reports.py
  src/marine_qc/qc_individual_reports.py
Labels: marine_qc

add changes to the docu
  docs/api/api_main_ind.rst
  docs/overview_ind.rst
Labels: docs

inspect_climatology: add tests for xarray and path-like objects
  src/marine_qc/external_clim.py
  tests/test_external_clim.py
Labels: marine_qc, testing suite

inspect_array: do not try to read input file if climatology == 'default'
  src/marine_qc/external_clim.py
  tests/test_individual_report_qc.py
Labels: marine_qc, testing suite

update CHANGELOG
  CHANGELOG.rst
Labels: docs, information

new helper function to ensure that inputs are numpy arrays
  src/marine_qc/auxiliary.py
  src/marine_qc/buoy_tracking_qc.py
  src/marine_qc/qc_grouped_reports.py
  src/marine_qc/qc_individual_reports.py
  src/marine_qc/qc_sequential_reports.py
  src/marine_qc/spherical_geometry.py
  src/marine_qc/time_control.py
  src/marine_qc/track_check_utils.py
  tests/test_decorators.py
Labels: marine_qc, testing suite

varaibel from tuple
  src/marine_qc/qc_individual_reports.py
  src/marine_qc/qc_sequential_reports.py
Labels: marine_qc

rename same variables
  src/marine_qc/qc_grouped_reports.py
Labels: marine_qc

add import
  src/marine_qc/qc_individual_reports.py
Labels: marine_qc

update CHANGELOG II
  CHANGELOG.rst
Labels: docs, information

remove tests on cdm_reader_mapper.DataBundle objects
  tests/test_qc_on_db.py
Labels: testing suite

update CHANGELOG
  CHANGELOG.rst
Labels: docs, information

undo changes in test_qc_on_db
  tests/test_qc_on_db.py
Labels: testing suite
