Repository glamod/marine_qc, pull requests merged in 2025-08, with the labels that each got.

#9 Adding error raising tests
  CHANGES.rst
  marine_qc/Climatology.py
  marine_qc/auxiliary.py
  marine_qc/buoy_tracking_qc.py
  marine_qc/external_clim.py
  marine_qc/qc_grouped_reports.py
  marine_qc/qc_individual_reports.py
  marine_qc/qc_sequential_reports.py
  marine_qc/time_control.py
  tests/test_astronomical_geometry.py
  tests/test_buddy_check.py
  tests/test_individual_report_qc.py
  tests/test_location_control.py
  tests/test_time_control.py
  tests/test_track_check_qc_functions.py
Labels: enhancement, docs, marine_qc, information, testing suite

#11 Add API references
  docs/api.rst
  docs/api/api_astro.rst
  docs/api/api_aux.rst
  docs/api/api_buoy.rst
  docs/api/api_dec.rst
  docs/api/api_ext.rst
  docs/api/api_grp.rst
  docs/api/api_hum.rst
  docs/api/api_ind.rst
  docs/api/api_loc.rst
  docs/api/api_main_buoy.rst
  docs/api/api_main_grp.rst
  docs/api/api_main_ind.rst
  docs/api/api_main_seq.rst
  docs/api/api_seq.rst
  docs/api/api_sph.rst
  docs/api/api_stat.rst
  docs/api/api_tc.rst
  docs/api/api_trk.rst
  docs/conf.py
  docs/tool-set-up.rst
  marine_qc/__init__.py
  marine_qc/multiple_row_checks.py
  marine_qc/qc_grouped_reports.py
  marine_qc/qc_individual_reports.py
  marine_qc/qc_sequential_reports.py
  tests/test_buddy_check.py
  tests/test_individual_report_qc.py
  tests/test_multiple_row_check.py
  tests/test_qc_on_db.py
  tests/test_track_check_qc_functions.py
Labels: docs, marine_qc, testing suite

#12 Initial documentation
  .gitignore
  CHANGES.rst
  README.rst
  docs/_static/images/LOGO_2024_NOC_1_COLOUR.png
  docs/_static/images/icoadsLogo.png
  docs/_static/images/logo_DWD_RGB.png
  docs/api/api_astro.rst
  docs/api/api_aux.rst
  docs/api/api_buoy.rst
  docs/api/api_dec.rst
  docs/api/api_ext.rst
  docs/api/api_grp.rst
  docs/api/api_hum.rst
  docs/api/api_ind.rst
  docs/api/api_loc.rst
  docs/api/api_main_buoy.rst
  docs/api/api_main_grp.rst
  docs/api/api_main_ind.rst
  docs/api/api_main_seq.rst
  docs/api/api_seq.rst
  docs/api/api_sph.rst
  docs/api/api_stat.rst
  docs/api/api_tc.rst
  docs/api/api_trk.rst
  docs/bayesian_buddy_check.rst
  docs/buddy_check.rst
  docs/description.rst
  docs/hyperlinks.rst
  docs/index.rst
  docs/introduction.rst
  docs/overview.rst
  docs/overview_buoy_tracking.rst
  docs/overview_grp.rst
  docs/overview_seq.rst
  docs/track_check.rst
  marine_qc/auxiliary.py
  marine_qc/buoy_tracking_qc.py
  marine_qc/multiple_row_checks.py
  marine_qc/qc_grouped_reports.py
  marine_qc/qc_individual_reports.py
  marine_qc/qc_sequential_reports.py
Labels: CI, docs, marine_qc, information
